<!-- User Comments -->
<section class="ui card center">
    {{#each this}}
    <div class="content">
        <div class="description">
            <p>{{this.comment_text}}</p>
        </div>
    </div>
    <div class="extra content">
        <p>posted by {{this.user.name}} on {{format_date date_created}}</p>
    </div>
    {{/each}}
</section>