<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <link type="text/css" rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/c5a8524b85.js" crossorigin="anonymous"></script>
    <title>Few Fries Short</title>
</head>
<body>
    <!-- Nav bar -->
    {{#if logged_in}}
    <div class="ui four item menu">
        <a class="active item" href="/">Home</a>
        <a class="item" href="/restaurants">Restaurants</a>
        <a class="item" href="/dashboard">Dashboard</a>
        <a class="item" id="logout">Logout</a>
    </div>

    {{else}}
    <div class="ui four item menu">
        <a class="active item" href="/">Home <i class="fas fa-home"></i></a>
        <a class="item" href="/restaurants">Restaurants</a>
        <a class="item" href="/login">Login</a>
        <a class="item" href="/signup">Signup</a>
    </div>
    {{/if}}

    <main>
        {{{body}}}
    </main>

    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}
    
</body>
</html>