<div class="ui raised very padded text container segment">
    <h2 class="ui header">User Dashboard</h2>

    <div class="row">
        <div class="column">
            <h3>Write a New Review: </h3>
            <form class="ui form review-form">

                <div class="field required">
                    <label>Title</label>
                    <input type="text" name="review-title" placeholder="Title" id="review-title">
                </div>

                <div class="field required">
                    <label>Rating</label>
                    <div class="ui star rating reviewrating" data-rating="3" data-max-rating="5"></div>
                </div>

                <div class="field required">
                    <label>Review</label>
                    <textarea id="review-body" name="review-body" placeholder="Review"></textarea>
                </div>

                <button type="submit" class="ui button">Submit</button>
            </form>
        </div>
    </div>
    <br>
    <br>

    {{#if reviews.length}}
    <div class="row">
        <div class="column">
            <h3>Your Reviews: </h3>
            {{#each reviews as |review|}}
            <div class="ui raised">
                <h4><a href="/reviews/{{review.id}}">{{review.title}}</a></h4>
            </div>
            <div class="ui" id="delete-review">
                <button type="submit" class="ui button" id="delete-review-btn" data-id="{{review.id}}">Delete</button>
            </div>
            {{/each}}
        </div>
        {{/if}}
    </div>
</div>

{{#if logged_in}}
<script src="/js/script.js"></script>
{{/if}}

<script src="/js/review.js"></script>