<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <link type="text/css" rel="stylesheet" href="../public/css/style.css">
    <title>Few Fries Short</title>
</head>
<body>
    <!-- Nav bar -->
    <div class="ui stackable container menu">
        <a class="item">Home</a>
        <a class="item">Search</a>
        <a class="item">Login</a>
        <a class="item">Signup</a>
    </div>

    <!-- Jumbotron equivelant/w search -->
    <div class="ui massive message">
        <div class="ui container">
          <h1 class="ui huge header">Hello, world!</h1>
          <p>
            This is a template for a simple marketing or informational website. It
            includes a large callout called a jumbotron and three supporting
            pieces of content. Use it as a starting point to create something more
            unique.
          </p>

          <div class="ui category search searchEl">
            <div class="ui icon input">
              <input class="prompt" type="text" placeholder="Search...">
              <i class="search icon"></i>
            </div>
            <div class="results">
                <!-- Results displayed here? -->
            </div>
          </div>
        </div>
    </div>

    <!-- Newest reviews shown here -->
    <h2>Newest Reviews</h2>
    <div class="ui three column grid">

        <!-- Each review card -->
        <div class="column">
          <div class="ui segment">

            <h3>Review Title</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, blanditiis.</p>

          </div>
        </div>

        <!-- Each review card -->
        <div class="column">
          <div class="ui segment">
            
            <h3>Review Title</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, blanditiis.</p>

          </div>
        </div>

        <!-- Each review card -->
        <div class="column">
          <div class="ui segment">
            
            <h3>Review Title</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, blanditiis.</p>

          </div>
        </div>

    </div>
    
</body>
</html>