<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <link type="text/css" rel="stylesheet" href="../public/css/style.css">
    <title>Few Fries Short</title>
</head>
<body>
    <!-- Nav bar -->
    {{#if logged_in}}
    <div class="ui four item menu">
        <a class="active item" href="/">Home</a>
        <a class="item" href="/search">Search</a>
        <a class="item" href="/dashboard">Dashboard</a>
        <a class="item" href="/logout" id="logout">Logout</a>
    </div>

    {{else}}
    <div class="ui four item menu">
        <a class="active item" href="/">Home</a>
        <a class="item" href="/search">Search</a>
        <a class="item" href="/login">Login</a>
        <a class="item" href="/signup">Signup</a>
    </div>
    {{/if}}

    <!-- Jumbotron equivelant/w search -->
    <div class="ui massive message">
        <div class="ui container">
          <h1 class="ui huge header">Hello, world!</h1>
          <p>
            This is a template for a simple marketing or informational website. It
            includes a large callout called a jumbotron and three supporting
            pieces of content. Use it as a starting point to create something more
            unique.
          </p>

          <div class="ui category search searchEl">
            <div class="ui icon input">
              <input class="prompt" type="text" placeholder="Search...">
              <i class="search icon"></i>
            </div>
            <div class="results">
                <!-- Results displayed here? -->
            </div>
          </div>
        </div>
    </div>

    <!-- Newest reviews shown here -->
    <h2>Newest Reviews</h2>
    <div class="ui three column grid">

        <!-- Each review card (A partial) -->
        <div class="column">
          <div class="ui segment raised">

            <h3>Review Title</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, blanditiis.</p>

          </div>
        </div>

        <!-- Each review card (A partial) -->
        <div class="column">
          <div class="ui segment raised">
            
            <h3>Review Title</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, blanditiis.</p>

          </div>
        </div>

        <!-- Each review card (A partial) -->
        <div class="column">
          <div class="ui segment raised">
            
            <h3>Review Title</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, blanditiis.</p>

          </div>
        </div>

    </div>

    <!-- Signup Form -->
    <div class="ui raised very padded text container segment">
      <h3 class="ui header">Sign Up</h3>
      <form class="ui form signup-form">
        <div class="field required">
          <label>Username</label>
          <input type="text" name="username" placeholder="Username" id="name-signup">
        </div>
        <div class="field required">
          <label>Email</label>
          <input type="text" name="email" placeholder="Email" id="email-signup">
        </div>
        <div class="field required">
          <label>Password</label>
          <input type="text" name="password" placeholder="Password" id="password-signup">
        </div>
        <button class="ui button" type="submit">Signup</button>
      </form>
    </div>

    <!-- Login Form -->
    <div class="ui raised very padded text container segment">
      <h3 class="ui header">Login</h3>
      <form class="ui form login-form">
        <div class="field required">
          <label>Email</label>
          <input type="text" name="email" placeholder="Email" id="email-login">
        </div>
        <div class="field required">
          <label>Password</label>
          <input type="text" name="password" placeholder="Password" id="password-login">
        </div>
        <button class="ui button" type="submit">Login</button>
      </form>
    </div>

    {{#if logged_in}}
    <script src="../public/js/logout.js"></script>
    {{/if}}

    <!-- User Dashboard -->
    <div class="ui raised very padded text container segment">
      <h2 class="ui header">User Dashboard</h2>
  
      <div class="row">
          <div class="column">
            <h3>Write a New Review: </h3>
            <form class="ui form review-form">

              <div class="field required">
                <label>Title</label>
                <input type="text" name="review-title" placeholder="Title" id="review-body">
              </div>

              <div class="field required">
                <label>Rating</label>
                <div class="ui star rating reviewrating" data-rating="3" data-max-rating="5"></div>
              </div>

              <div class="field required">
                <label>Review</label>
                <textarea id="review-body" name="review-body" placeholder="Review"></textarea>
              </div>

              <button type="submit" class="ui button">Submit</button>
            </form>
          </div>
      </div>
      <br>
      <br>

      {{#if logged_in}}
      <div class="ui raised very padded container segment">
          <h4>Add a restaurant: </h4>
          <form class="ui form review-form">

            <div class="field required">
              <label>Restaurant Name: </label>
              <input type="text" name="restaurant-name" placeholder="Restaurant Name" id="restaurant-name">
            </div>

            <div class="field required">
              <label>Location</label>
              <input type="text" name="restaurant-location" placeholder="Restaurant Location" id="restaurant-location">
            </div>

            <a href="/restaurants/add">
              <button type="submit" class="ui button">Add Restaurant</button>
            </a>
          </form>
      </div>
      {{/if}}

      <br>
      <br>

      {{#if reviews.length}}
      <div class="row">
        <div class="column">
          <h3>Your Reviews: </h3>
          {{#each reviews as |review|}}
          <div class="ui raised">
            <h4><a href="/reviews/{{review.id}}">{{review.name}}</a></h4>
          </div>
          <div class="ui" id="delete-review">
            <button type="submit" class="ui button" id="delete-review-btn" data-id="{{review.id}}">Delete</button>
          </div>
          {{/each}}
        </div>
        {{/if}}
      </div>
    </div>

    {{#if logged_in}}
    <script src="../public/js/script.js"></script>
    {{/if}}

    <script src="../public/js/dashboard.js"></script>

    <!-- Post/Edit User Comment -->
    <div class="row">
      <div class="column">
        <div class="ui raised very padded text container segment">
          <h2>
            {{name}}
            {{#if logged_in}}
            <a href="/reviews/edit/{{id}}">
              <button type="submit" class="ui button" id="edit-review-btn" data-id="{{review.id}}">Edit</button>
            </a>
            {{/if}}
          </h2>

          <div class="row">
            <div class="column">
              <p>{{description}}</p>
            </div>
          </div>
        </div>

        {{#if logged_in}}
        <div class="ui raised very padded container segment">
          <h4>Comment on this post: </h4>
          <form class="ui form new-comment-form">

            <div class="required">
              <label>Comment: </label>
              <textarea id="comment-body" name="comment-body" placeholder="Comment"></textarea>
            </div>
            <br>
            <button type="submit" class="ui button" id="add-comment-btn" data-id="{{comment.button}}">Add Comment</button>
          </form>
        </div>
        {{/if}}
      </div>
    </div>

    {{> comments comments}}
    <script src="/js/comment.js"></script>

    <!-- User Comments -->
    <section class="ui card center raised">
      {{#each this}}
      <div class="content">
        <div class="description">
          <p>{{this.text}}</p>
        </div>
      </div>
      <div class="extra content">
        <p>{{this.user.name}}</p>
      </div>
      {{/each}}
    </section>

    <!-- Restaurant -->
    <div class="row">
      <div class="column">
          <div class="ui raised very padded text container segment">
              <h2>
                  {{name}}
              </h2>
  
              <div class="row">
                  <div class="column">
                      <h3>{{location}}</h3>
                  </div>
              </div>

              {{#if reviews.length}}
              <div class="row">
                <div class="column">
                  <h3>Reviews for this restaurant: </h3>
                  {{#each reviews as |review|}}
                  <div class="ui raised">
                    <h4><a href="/reviews/{{review.id}}">{{review.name}}</a></h4>
                  </div>
                  {{/each}}
                </div>
                {{/if}}
              </div>
          </div>
      </div>
  </div>

  <script src="/js/addrestaurant.js"></script>
    
</body>
</html>