<div class="ui raised very padded container segment">
<h3>Edit your review: </h3>
<form class="ui form edit-review-form">

    <div class="field required">
        <label>Title</label>
        <input type="text" name="edit-review-title" placeholder="Title" id="edit-review-title" value="{{edit.title}}">
    </div>

    <div class="field required">
        <label>Review</label>
        <textarea id="edit-review-body" name="edit-review-body" placeholder="Review">{{edit.review_content}}</textarea>
    </div>

    <button type="submit" class="ui button">Submit</button>
</form>
</div>

<script src="/js/edit.js"></script>