<!-- Jumbotron equivelant/w search -->
<div class="ui massive message">
    <div class="ui container">
        <h1 class="ui huge header">Hello, world!</h1>
        <p>
            This is a template for a simple marketing or informational website. It
            includes a large callout called a jumbotron and three supporting
            pieces of content. Use it as a starting point to create something more
            unique.
        </p>

        <div class="ui category search searchEl">
            <div class="ui icon input">
                <input class="prompt" type="text" placeholder="Search...">
                <i class="search icon"></i>
            </div>
            <div class="results">
                <!-- Results displayed here? -->
            </div>
        </div>
    </div>
</div>