<div class="ui raised very padded text container segment">
    <h3 class="ui header">Login</h3>
    <form class="ui form login-form" id="login-form">
        <div class="field required">
            <label>Email</label>
            <input type="text" name="email" placeholder="Email" id="email-login">
        </div>
        <div class="field required">
            <label>Password</label>
            <input type="password" name="password" placeholder="Password" id="password-login">
        </div>
        <button class="ui button" type="submit">Login</button>
    </form>
</div>

<script src="/js/login.js"></script>