<div class="row">
    <div class="column">
        <div class="ui raised very padded text container segment">
            <h2>
                {{name}}
            </h2>

            <div class="row">
                <div class="column">
                    <h3>{{location}}</h3>
                </div>
            </div>

            <div class="row">
                <div class="right floated column">
                    <a href="/dashboard">
                        <button class="positive ui button">
                            <i class="fa fa-plus"></i> Add a Review
                        </button>
                    </a>
                </div>
            </div>


            {{#if reviews.length}}
            <div class="row">
                <div class="column">
                    <h3>Reviews for this restaurant: </h3>
                    {{#each reviews as |review|}}
                    <div class="ui raised">
                        <h4><a href="/reviews/{{review.id}}">{{review.title}}</a></h4>
                    </div>
                    {{/each}}
                </div>
                {{/if}}
            </div>
        </div>
    </div>
</div>