<div class="ui raised very padded text container segment">
    <h3 class="ui header">Sign Up</h3>
    <form class="ui form signup-form" id="signup-form">
        <div class="field required">
            <label>Username</label>
            <input type="text" name="username" placeholder="Username" id="name-signup">
        </div>
        <div class="field required">
            <label>Email</label>
            <input type="text" name="email" placeholder="Email" id="email-signup">
        </div>
        <div class="field required">
            <label>Password</label>
            <input type="password" name="password" placeholder="Password" id="password-signup">
        </div>
        <button class="ui button" type="submit">Signup</button>
    </form>
</div>

<script src="/js/signup.js"></script>