h1, h2 {
    text-align: center;
}

.searchEl {
    text-align: center;
}

.ui.segment {
    margin: 10%;
}

.segment {
    width: 80%;
    /* margin: 5%; */
}

.ui.card {
    margin:auto
}

.rating-stars {
    color: gold !important;
    text-shadow: 0 0 10px yellow;
}