h1, h2 {
    text-align: center;
}

.searchEl {
    text-align: center;
}

/* .ui.segment {
    margin: 10%;
} */

.segment {
    width: 80%;
    /* margin: 5%; */
}

.ui.card {
    margin:auto
}

.rating-stars {
    color: gold !important;
    text-shadow: 0 0 10px yellow;
}

.nav-bar {
    background-color: #FF6600 !important;
}

body {
    font-family:Arial, Helvetica, sans-serif;
    background-image: url("./images/background-fast-food.jpg");
}

/* Navbar icon padding */
.fas {
    padding-left: 5px;
}

/* Jumbotron styling */
.jumbo-css {
    background-color: navy !important;
    color: white !important;
}

.home-text {
    text-align: center;
}