h1, h2 {
    text-align: center;
}

.searchEl {
    text-align: center;
}

/* .ui.segment {
    margin: 10%;
} */

.segment {
    width: 80%;
    /* margin: 5%; */
}

.ui.card {
    margin:auto
}

.rating-stars {
    color: gold !important;
    text-shadow: 0 0 10px yellow;
}

.menu {
    background-color: orangered !important;
}
body {
    font-family:Arial, Helvetica, sans-serif;
}

/* Navbar icon padding */
.fas {
    padding-left: 5px;
}